<!-- index.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Project Management System</h1>
    
    <form action="/add_project" method="POST">
        <input type="text" name="name" placeholder="Project Name" required>
        <input type="text" name="description" placeholder="Description" required>
        <input type="text" name="status" placeholder="Status" required>
        <input type="text" name="storagelocation" placeholder="Storage Location" required>
        <button type="submit">Add Project</button>
    </form>
    
    <h2>Projects List</h2>
    <ul>
        {% for project in projects %}
            <li>{{ project[1] }} - {{ project[2] }} - Status: {{ project[3] }} - Storage Location: {{ project[4] }} 
            <a href="/proj/{{ project[0] }}">View Details</a></li>
        {% endfor %}
    </ul>
{% endblock %}
